################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/problem_solving/.vs/problem_solving/v16
/problem_solving/x64/Debug/problem_solving.tlog
/problem_solving/x64/Debug
